.registration {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.registration_form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
}


.registration_form input {
    width: 250px;
}

.registration button {
    width: 150px;
}