.new-project-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }
  
  .new-project-input {
    margin: 8px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .new-project-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .new-project-button:hover {
    background-color: #0056b3;
  }

  .new-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.home-inner {
  min-height: 70vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-form button {
  width: 300px;
}

.label {
  border: 1px black solid;
  padding: 15px;
}