/* styles.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 20px;
  }
  
  .header-button {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    margin-left: 20px;
    padding: 0;
    transition: color 0.2s;
  }
  
  .header-button:hover {
    color: #0056b3;
  }

.modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal-button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 16px;
  }
  
  .modal-button:hover {
    background-color: #0056b3;
  }
  
  